/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
  --body-bg: #292f36;
  --bg-dark: #252a30;
  --table-bg: #252a30;
  --txt-box-bg: #252a30;
  --body-cl: #f5f5f5;
  --panel-fill-bg: rgb(144, 13, 13);
  --txt-fill-bg: rgba(55, 55, 55, 0.5);
  --orange: #ff6347;
  --green: #1bbf89;
  --default: #616779;
  --primary: #0f83c9;
  --nav-shadow:4px 0 10px -3px #010101;
  --nav-width:4em;
  --nav-bg:var(--bg-dark);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--body-cl);
  background-color: var(--body-bg);
}

/* Bootstrap Input */
.form-control {
  color: #949ba2;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  background-color: var(--txt-box-bg);
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #949ba2;
  background-color: var(--txt-box-bg);
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #949ba2;
  background-color: var(--txt-fill-bg);
}

.custom-height {
  min-height: 46px !important;
}


/* Bootstrap Table */
.table {
  margin-bottom: 0;
}

.table-dark {
  color: var(--body-cl);
  background-color: var(--table-bg) !important;
}

.table > thead > tr > th {
  border-bottom: none;
  cursor: pointer;
  user-select: none;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 1px solid rgba(17, 17, 17, 0.33);
}

.table-dark td, .table-dark th, .table-dark thead th {
  border-color: #212529;
  cursor: pointer;
  user-select: none;
}

tbody>tr:hover {
  background-color: #343a40 !important;
}

::-webkit-scrollbar {
  height: 30px;
  overflow: visible;
  width: 15px
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0
}

::-webkit-scrollbar-corner {
  background: 0 0
}

::-webkit-scrollbar-thumb {
  background-color: #414550;
  background-clip: padding-box;
  border: 5px solid transparent;
  min-height: 50%;
  padding: 0;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
  color: rgba(255, 255, 255, .6);
  border-radius: 10px
}

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: 1px solid transparent;
  width: 10px
}
